* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}
.container {
  height: 100vh;
  background-image: repeating-linear-gradient(
    -45deg,
    #ffffff 0px,
    #f0c6f8eb 20px,
    #5e636147 20px,
    #b5f5f68a 40px
  );
}
/*_____layout_____*/
.container {
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.static-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
}
/*_______padding margin_____*/
.but,
.static-section,
.action-section {
  padding: 1rem;
  border: 1px solid black;
}
.but {
  margin-top: 0.5rem;
  border-radius: 50px;
  border: 3px solid;
  width: 50%;
}
/*_____reveal answer_____ */
#mylink {
  display: none;
}
.but:hover {
  color: #053c3cdd;
  border: 2px solid #929797;
}
.action-section {
  display: grid;
  grid-template-rows: repeat(9, 1fr);
  overflow-y: scroll;
}
.action-section h1,
.action-section input,
.action-section button {
  margin-top: 0.5rem;
  padding-top: 0.5rem;
}
.action-section input,
.action-section button,
.but {
  background-color: transparent;
}
.action-section input {
  border: 0;
  border-bottom: 2px solid purple;
  outline: none;
}
.action-section input,
.action-section button {
  width: 80%;
}

/*___setting color____*/
.action-section p,
h3 {
  color: #062f10ec;
}
@media (min-width: 1024px) {
  .container,
  .static-section {
    display: flex;
  }
  .static-section {
    width: 30%;
    flex-direction: column;
  }
  .action-section {
    flex: 1;
  }
}
